@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');

* {
    /* border: solid 1px black; */
    margin: 0;
}

html {
    Font-size: 16px;
    font-family: 'Barlow';
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: #ffffff;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.25em;
    margin: 0.75em 0em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

button {
    border: none;
    padding: 1.25em 2em;
    border-radius: 3em;
    background-color: #ffffff;
    color: #000000;
}

.Fraunces-font {
    font-family: 'Fraunces';
}

.we-are-creatives {
    height: 100vh;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.text-center {
    text-align: center;
}

.navbar {
    color: #ffffff;
    position: fixed;
    justify-content: space-between;
    height: 5rem;
    width: 92.5%;
    left: 3.75%;
}

.navlinks {
    justify-content: space-between;
    width: 35%;
}

.logo img {
    width: 150px;
}

.container {
    height: 60vh;
    justify-content: center;
}

.arrow-down {
    position: absolute;
    left: 48.75%;
    top: 45%;
    width: 2.5%;
}

.flex {
    display: flex;
}

.vertical-center {
    align-self: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-item {
    /* height: 537.5px; */
    height: 73.25vh;
}

.gallery-item-text {
    background-color: #fffbf8;
}

.text-item {
    width: 62.5%;
    margin-top: 21.5%;
    line-height: 1.75em;
    align-items: center;
}

.text-item-left {
    margin-left: 23.75%;
}

.text-item-right {
    margin-left: 15%;
}

.gallery-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
    font-weight: 900;
}

.learn-more {
    display: inline-block;
    margin-top: 2em;
}

.gallery-text {
    color: #818498;
    font-weight: 400;
}

.last-row {
    height: 75vh;
}

.last-row-text {
    position: relative;
    top: 60%;
    margin: 0 auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 1.75em;
}

.last-row-title {
    font-size: 1.5rem;
}

.last-row-design {
    color: #25564B;
}

.last-row-photography {
    color: #19536B;
}

#egg {
    background-image: url('images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wine {
    background-image: url('images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#first-image {
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#second-image {
    background-image: url('images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}