@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');

* {
    /* border: solid 1px black; */
    margin: 0;
}

html {
    Font-size: 16px;
    font-family: 'Barlow';
    font-weight: 600;
}

/* general tags style */

h1 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: #ffffff;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.25em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

button {
    border: none;
    padding: 1.25em 2em;
    border-radius: 3em;
    background-color: #ffffff;
    color: #000000;
}

/* general classes styles */

.Fraunces-font {
    font-family: 'Fraunces';
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.vertical-center {
    align-self: center;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
    font-weight: 900;
}

.full-width {
    width: 100%;
}

.page-text {
    color: #5A636C;
}

.darker-text {
    color: #23303E;
}

.lighter-text {
    color: #A7ABAE;
}

/* navbar section style */

.navbar {
    color: #ffffff;
    position: fixed;
    justify-content: space-between;
    height: 5rem;
    width: 92.5%;
    left: 3.75%;
}

.navlinks {
    justify-content: space-between;
    width: 35%;
}

.logo img {
    width: 150px;
}

/* we are creatives section style */

.we-are-creatives {
    height: 100vh;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.arrow-down-container {
    height: 60vh;
    justify-content: center;
}

.arrow-down {
    position: absolute;
    left: 48.75%;
    top: 45%;
    width: 2.5%;
}

/* gallery section style */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-item {
    height: 532px;
}

.gallery-text {
    position: relative;
    top: 21.5%;
    width: 62.5%;
    line-height: 1.75em;
    font-weight: 400;
}

.gallery-title {
    margin: 0.75em 0em;
}

.text-item {
    background-color: #fffbf8;
}

.gallery-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}

.learn-more {
    display: inline-block;
    margin: 2em 0em 0em 0.5em;
    font-size: 14px;
}

/* gallery third row special style */

.last-row {
    height: 530px;
}

.last-row-text {
    position: relative;
    top: 60%;
    margin: 0 auto;
    width: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 1.75em;
}

.last-row-title {
    font-size: 1.5rem;
    margin: 0.75em 0em;
}

.design-text {
    color: #25564B;
}

.photography-text {
    color: #19536B;
}

/* Testimonials style */

.testimonials {
    height: 100vh;
    background-color: #fffbf8;
}

.testimonials-container {
    position: relative;
    top: 23%;
    max-width: 1024px;
    margin: 0 auto;
}

.reviews {
    margin: 7% auto;
    display: flex;
    justify-content: center;
}

.individual-review {
    width: 30.5%;
    margin: 0 1%;
    text-align: center;
}

.review-image {
    width: 20%;
    border-radius: 50%;
}

.review-text {
    margin-top: 15%; 
    line-height: 1.75em;
}

.review-name {
    margin-top: 20%;
}

.testimonials-title {
    letter-spacing: 0.2em;
}

.review-position {
    font-size: 13px;
    font-weight: 400;
}

/* special items */

#egg {
    background-image: url('images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#wine {
    background-image: url('images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#cherries {
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#orange {
    background-image: url('images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#text-left {
    left: 23%;
}

#text-right {
    left: 15%;
}