@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');

/* @import url('styles/navbar.css');
@import url('styles/we-are-creatives.css');
@import url('styles/gallery.css');
@import url('styles/testimonials.css');
@import url('styles/footer.css'); */

* {
    /* border: solid 1px black; */
    margin: 0;
}

html {
    Font-size: 16px;
    font-family: 'Barlow';
    font-weight: 600;
}

/* general tags style */

h1 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: #ffffff;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.25em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    transition: 0.2s;
}

a:hover {
    color: #23303E;
    transition: 0.2s;
}

button {
    border: none;
    padding: 1.25em 2em;
    border-radius: 3em;
    background-color: rgba(255, 255, 255, 100%);
    color: #000000;
    transition: 0.1s;
}

button:hover {
    background-color: rgba(255, 255, 255, 30%);
    color: #ffffff;
    transition: 0.1s;
}

/* general classes styles */

.Fraunces-font {
    font-family: 'Fraunces';
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.vertical-center {
    align-self: center;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
    font-weight: 900;
}

.full-width {
    width: 100%;
}

.page-text {
    color: #5A636C;
}

.darker-text {
    color: #23303E;
}

.lighter-text {
    color: #A7ABAE;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 2.5rem;
    }
}