.footer {
    /* height: 100vh; */
    background-color: #90d5c4;
    color: #458C7E;
}

.footer-gallery {
    display: flex;
}

.footer-images {
    width: 25%;
}

.footer-logo {
    margin: 5% auto 0% auto;
    width: fit-content;
}

.footer-logo img {
    width: 150px;
}

.footer-links-list {
    margin: 2.25em 0em 0em 0em;
    padding: 0px;
    list-style-type: none;
}

.footer-links-list li {
    display: inline-block;
    margin: 0px 1.5em;
    transition: 0.1s;
}

.footer-links-list li:hover {
    transition: 0.1s;
    color: #ffffff;
}

.Contact {
    display: flex;
    justify-content: center;
    margin: 5em auto 3em auto;
}

.contact-link {
    margin: 0em 0.75em;
    fill: #2C7566;
    transition: 0.2s;
}

.contact-link:hover {
    transition: 0.2s;
    fill: #ffffff;
}