.testimonials {
    height: 100vh;
    background-color: #fffbf8;
}

.testimonials-container {
    position: relative;
    top: 23%;
    max-width: 1024px;
    margin: 0 auto;
}

.reviews {
    margin: 7% auto;
    display: flex;
    justify-content: center;
}

.individual-review {
    width: 30.5%;
    margin: 0 1%;
    text-align: center;
}

.review-image {
    width: 20%;
    border-radius: 50%;
}

.review-text {
    margin-top: 15%;
    line-height: 1.75em;
}

.review-name {
    margin-top: 20%;
}

.testimonials-title {
    letter-spacing: 0.2em;
}

.review-position {
    font-size: 13px;
    font-weight: 400;
}