.testimonials {
    height: 100vh;
    background-color: #fffbf8;
}

.testimonials-container {
    position: relative;
    top: 23%;
    max-width: 1024px;
    margin: 0 auto;
}

.reviews {
    margin: 7% auto;
    display: flex;
    justify-content: center;
}

.individual-review {
    width: 30.5%;
    margin: 0 1%;
    text-align: center;
}

.review-image {
    width: 20%;
    border-radius: 50%;
}

.review-text {
    margin-top: 15%;
    line-height: 1.75em;
}

.review-name {
    margin-top: 20%;
}

.testimonials-title {
    letter-spacing: 0.2em;
}

.review-position {
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 17px;
    }

    .testimonials {
        height: auto;
        padding: 17% 0% 8%;
    }
    
    .testimonials-container {
        /* top: 7.5%; */
        top: 0%;
        /* margin: 17% auto; */
    }

    .reviews {
        flex-direction: column;
    }

    .individual-review {
        width: 87.5%;
        margin: 10% auto 5% auto;
    }

    .review-image {
        width: 22.5%;
    }

    .review-text {
        margin-top: 10%;
    }

    .review-name {
        margin-top: 10%;
    }
}