.we-are-creatives {
    height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.arrow-down-container {
    height: 60vh;
    justify-content: center;
}

.arrow-down {
    position: absolute;
    left: 48.75%;
    top: 45%;
    width: 2.5%;
}

@media screen and (max-width: 375px) {
    .we-are-creatives {
        background-size: 750px;
        height: 66vh;
        background-color: #3cbefe;
    }
    
    .arrow-down-container {
        height: 70%;
    }

    .arrow-down {
        width: 10%;
        left: 45%;
        top: 35%;
    }
}